/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {}
.kontainer {
    background: #000;
    width: 800px;
    padding: 20px;
    margin: auto;
}
.kontainer h1 {}
.kontainer .meny {}
.kontainer .meny a {}
.kontainer .meny a:hover {}
.kontainer .meny a.aktiv {}
.kontainer h2 {}
.kontainer figure {}
.kontainer figure img {}
.kontainer figure figcaption {}
.kontainer p {}