@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+DE+SAS:wght@100..400&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body.sida1 {
    background-image: url(./bilder/pattern1.jpg);
}
body.sida2 {
    background-image: url(./bilder/pattern2.jpg);
}
body.sida3 {
    background-image: url(./bilder/pattern3.webp);
}
body.sida4 {
    background-image: url(./bilder/pattern4.webp);
}
body.sida5 {
    background-image: url(./bilder/pattern5.jpg);
}
body.sida6 {
    background-image: url(./bilder/pattern3.webp);
}
div {
    font-family: "Arvo", serif;
    background-color: #fff;
    width: 500px;
    /* height: 400px; */
    border: 5px dotted #000;
    padding-top: 50px;
    padding-left: 50px;
    margin: auto;
    margin-top: 100px;
}
h1 {
    font-family: "Playwrite DE SAS", cursive;
    margin-bottom: 30px;
}
p {
    font-size: 25px;
    margin-bottom: 30px;
}
a {
    text-decoration: none;
    font-size: 40px;
    color: red;
}