@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lobster&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}

/* Sidan */
body {
    background-image: url("./bilder/justin-clark-H7JiEU8Slnw-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.kontainer {
    font-family: "Arvo", serif;
    width: 1000px;
    margin: auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    grid-template-areas: 
    "sidhuvud sidhuvud"
    "inneh책ll sidebar"
    "sidfot sidfot";
    background-color: #ffffff42;
}

/* Sidhuvudet & menyn */
header {
    grid-area: sidhuvud;
}
header h1 {
    font-family: "Lobster", sans-serif;
    font-size: 60px;
}
header nav {
    background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
    padding: 10px;
    border-radius: 5px;
}
header nav a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
}
header nav a:hover {
    background: linear-gradient(to bottom, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%);
    color: #344e00;
}
header nav a.aktiv {
    background: linear-gradient(to bottom, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%);
    color: #344e00;
}

/* Inneh책llet p책 sidan */
main {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    grid-area: inneh책ll;
}
main article {}
main article h2 {
    margin-bottom: 15px;
}
main article figure {
    width: 50%;
    padding: 20px;
    border: 1px solid #AAA;
    margin: auto;
    margin-bottom: 15px;
}
main article figure img {}
main article figure figcaption {}
main article figure p {
    margin-bottom: 15px;
}

/* Sidebar */
aside {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    grid-area: sidebar;
}
aside h3 {
    margin-bottom: 15px;
}
aside p {
    margin-bottom: 15px;
}
aside p a {}

/* Sidfoten */
footer {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    grid-area: sidfot;
}
footer p {}