@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Comfortaa:wght@300..700&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

:root {
    /* CSS HEX */
    --charcoal: #264653ff;
    --persian-green: #2a9d8fff;
    --saffron: #e9c46aff;
    --sandy-brown: #f4a261ff;
    --burnt-sienna: #e76f51ff;
}

body {
    background-color: var(--charcoal);
}
.kontainer {
    background-color: #fff;
    width: 900px;
    margin: auto;
    padding: 30px;
}
.kontainer h1 {
    font-family: "Chicle", serif;
    font-size: 80px;
    color: var(--burnt-sienna);
    margin-bottom: 40px;
    text-align: center;
}
.kontainer .meny {
    margin-bottom: 30px;
    text-align: center;
}
.kontainer .meny a {
    text-decoration: none;
    background-color: var(--sandy-brown);
    padding: 10px;
    width: 125px;
    display: inline-block;
    color: var(--charcoal);
    font-size: 12px;
    font-weight: bold;
    font-family: "Comfortaa", sans-serif;
}
.kontainer .meny a:hover {
    background-color: var(--burnt-sienna);
}
.kontainer .meny a.aktiv {
    background-color: var(--burnt-sienna);
}
.kontainer figure {
    border: 1px solid;
    width: 50%;
    margin: auto;
    padding: 30px;
    margin-bottom: 30px;
}
.kontainer figure img {
    width: 100%;
}
.kontainer figure figcaption {

}
.kontainer p {
    font-size: 20px;
    margin-bottom: 20px;
}
.kontainer p a {

}